fieldset legend .vtbegenerated.inlineVtbegenerated {
	flex-grow: 1;
	font-weight: bold;
}

fieldset legend {
	background: #71717a;
	border-radius: 2px;
}

.multiple-choice-table {
	width: 100%;
	display: flex;
}

.multiple-choice-table tbody {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.multiple-choice-table tr {
	display: flex;
	flex-direction: row;
}

.multiple-choice-table tr td {
	display: flex;
	justify-content: center;
}

.multiple-choice-table tr td:nth-child(1) {
	flex-shrink: 1;
}

.multiple-choice-table tr td:nth-child(2) {
	display: none;
}

.multiple-choice-table td:nth-child(3),
fieldset legend {
	flex-grow: 1;
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.25em !important;
	margin: 0.25em !important;
	border: 2px solid #dadada;
	border-radius: 2px;
	background: f8f8f8;
}

.multiple-choice-table tr td .vtbegenerated.inlineVtbegenerated {
	flex-grow: 1;
}
